// Clearfix

@mixin clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}

// Center Block Element

@mixin margin-center {
	margin-right: auto;
	margin-left: auto;
}

.margin-center {
  @include margin-center();
}

// Horizontal Menu

@mixin horizontal-menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  li {
    display: inline-block;
  }
}

.horizontal-menu {
  @include horizontal-menu();
}

// Basics
.align-center {
  text-align: center;
}